.btn {
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: .25rem 1rem;
  color: $color-white;
  background-color: $color-blue;
  transition: background-color .4s ease, border .4s ease;
  text-transform: uppercase;
  cursor: pointer;
  &:hover, :active {
    background-color: $color-orange;
  }
}
.btn__text {
  font-size: .875rem;
  pointer-events: none;
  background-color: transparent;
}

.btn_icon {}

.btn__caret {
  margin-left: .5rem;
}

.btn--clear {
  background-color: transparent;
  color: $color-blue;
  &:hover, :active {
    background-color: #e5e4e5;
    color: $color-orange;
  }
}

.btn--alert-config {
  margin-right: 2rem;
}

.btn--unsubscribe {
  margin-left: auto;
}

.btn--select-option {

}